@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #ddd6f3, #faaca8);
  color: var(--white-color);
}

#buttons {
  background: transparent;
  outline: none;
  border: none;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  margin: 8px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  transform: scale(0.9);
}
