@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  background: linear-gradient(to top left, #ddd6f3, #faaca8);
}

/* for Nav */
.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  padding: 0 16px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

/* .nav .container ul li:hover {
  background-color: #faaca8;
  transition: all 0.3s ease-in-out;
} */

.nav.active {
  background-color: #fff;
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #faaca8;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
  background-image: url("https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaG5pY2FsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero h1 {
  font-size: 48px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 24px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 10px 0;
}

.content p {
  color: #555;
  line-height: 24px;
  letter-spacing: 1px;
}
